.movie-card {
    display: flex;
    justify-content: center;
}

.movie-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 25px;
    float: left;
}