.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background: linear-gradient(45deg,rgb(223, 115, 115),rgb(226, 133, 152),lightcoral)
}

.navbar-link {
    text-decoration: none;
    color: rgb(5, 129, 129);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 2px 2px 5px lightcyan;
}

.navbar-left {
    display: flex;
    gap: 50px;
}

.active {
    color: white;
    transform: scale(1.5)
}